body {
    margin: 0;
    padding: 0
}

header {
    text-align: center;
    background-color: #a1c4c6;
}

.logo {
    width: 300px;
}

/* Catalogo */
.catalogo{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    min-height: 636px;
    margin: auto;
    text-align: center;
    font-family: arial;

    margin-top: 10px;
    /* margin-right: 5px;
    margin-left: 5px; */
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #526768;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card .descripcion{
    min-height: 60px;
}

.card button:hover {
    opacity: 0.7;
}
