body {
    margin: 0;
    padding: 0
}

header {
    text-align: center;
    background-color: #a1c4c6;
}

.logo {
    width: 300px;
}

.catalogo table{
    margin-left: auto;
    margin-right: auto;
}