.txt {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 20px;
}

.error {
    color: red;
}

.formulario {
    display: grid;
    justify-content: center;
}

.seccion {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: grid;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 500px;
}

/*Para secciones angostas*/
.seccion-narrow {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: grid;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    /*    width: 100%;*/
    width: 350px;
}

.seccion-wide {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: grid;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    /*    width: 100%;*/
    width: 850px;
}

@media only screen and (max-width: 510px) {
    .seccion, .seccion-narrow .seccion-wide {
        width: 100%;
    }

    /*    .formulario {
        justify-content: stretch;
    }*/
}

.titulo {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}

.centrar {
    text-align: center;
}

.btnGuardar, .btnEliminar, .input {
    width: 100%;
}