@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #a1c4c6;
}

.bgGradient{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 47%, rgba(206,241,244,1) 87%);
    background-attachment: fixed;
}

.button_accept, .button_cancel{
    font-size: medium;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.button_accept{
    background-color: #628094; /* Green */
}

.button_cancel{
    background-color: #946262; /* red */
}

.button_accept:hover, .button_cancel:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=file]::-webkit-file-upload-button {
    font-size: medium;
    border: none;
    color: white;
    background-color: #628094; /* Green */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}